---
import SectionContainer from "../SectionContainer.astro"
---
<SectionContainer bgColor="bg-gradient-to-l from-zinc-300 to-zinc-50" padding={false}>
    <section class="absolute top-[-20px] rounded-full py-1 px-4 bg-zinc-100 border-2 border-white text-lg ps:text-2xl font-sf-medium">Cuando <span class="font-sf-bold">nos comprometimos</span></section>
    <img src="/img/img-6-comprometimos.png" alt="Astro" />
    <section slot="gradient" class="w-full bottom-[-1px] absolute bg-gradient-to-t from-zinc-200 to-transparent h-1/4">
    </section>
</SectionContainer>