---
import SectionContainer from "../SectionContainer.astro";
import ItinerarioCard from "./ItinerarioCard.astro";
import ImgRing from "@assets/img/emoji-ring.png";
import ImgCocktail from "@assets/img/emoji-cocktail.png";
import ImgStarTruck from "@assets/img/emoji-star-truck.png";
import ImgBride from "@assets/img/emoji-bride.png";
import ImgSpaghetti from "@assets/img/emoji-spaghetti.png";
import ImgHeart from "@assets/img/emoji-heart.png";
import ImgDancer from "@assets/img/emoji-dancer.png";

const cards = [
    {
        title: "Nos casamos",
        emoji: "💍",
        emojiSRC: ImgRing,
        description: "Celebremos en la Hacienda San Juan Pueblilla",
        timeStart: "4:00p.m.",
        timeEnd: "5:30p.m.",
    },
    {
        title: "Cocktail",
        emoji: "🍸",
        emojiSRC: ImgCocktail,
        description: "Es tiempo para socializar, saludar y enfiestarse",
        timeStart: "6:00p.m.",
        timeEnd: "7:15p.m.",
    },
    {
        title: "Recepción al Banquete",
        emoji: "🤩",
        emojiSRC:ImgStarTruck,
        description: "Es tiempo para socializar, saludar y empezar a enfiestarse",
        timeStart: "6:45p.m.",
        timeEnd: "7:45p.m.",
    },
    {
        title: "Entrada de los novios",
        emoji: "👰🏻‍♀️",
        emojiSRC: ImgBride,
        description: "Festejemos a los novios con un brindis",
        timeStart: "7:00p.m.",
        timeEnd: "8:00p.m.",
    },
    {
        title: "Cena",
        emoji: "🍝",
        emojiSRC: ImgSpaghetti,
        description: "Vámonos preparando para la fiesta",
        timeStart: "7:10p.m.",
        timeEnd: "8:15p.m.",
    },
    {
        title: "Baile de esposos",
        emoji: "❤️",
        emojiSRC: ImgHeart,
        description: "Celebremos el amor con el primer baile en matrimonio",
        timeStart: "8:10p.m.",
        timeEnd: "9:30p.m.",
    },
    {
        title: "Que siga la fiesta",
        emoji: "💃🏻",
        emojiSRC: ImgDancer,
        description: "Y que se abra la pista, felices por el amor, celebremos con la víbora de la mar, el ramo, la liga, el pastel, mesa de dulces, etc... 💐 ✨🎂",
        timeStart: "9:15p.m.",
        timeEnd: "10:00p.m.",
    },
];
---
<div class="w-full flex justify-center relative flex-col items-center">
    <section id="itinerario" class="px-5 ps:px-0 flex flex-col items-center gap-10 relative w-full ps:w-[430px] py-4">
    <section class="text-center w-full">
        <h2 class="font-sf-medium text-3xl">Itinerario</h2>
        <p class="font-sf-light text-balance">Nos sentiremos bien que seas puntual</p>
    </section>
    {
        cards.map((card) => (
            <ItinerarioCard {...card} />
        ))
    }
        </section>
        <section class="h-full absolute bg-zinc-200 w-full -z-10 flex justify-center">
                <div class="mt-20 px-10 flex flex-col items-center gap-10 relative w-full h-full ps:w-[480px] ">
                    <span class=" w-96 h-96 bg-green-200 -z-30 blur-lg rounded-full self-start -ml-20"></span>
                    <span class=" w-96 h-96 bg-red-200 -z-30 blur-lg rounded-full self-end -mr-0"></span>
                    <span class=" w-72 h-72 bg-purple-200 -z-30 blur-lg rounded-full self-start -mr-0"></span>
                </div>
            </section>
</div>
