---
import "../../styles/index.css"
---

<div class="w-full flex justify-center relative px-5">
    <div class="slide w-[396px] h-[522px]">
    </div>
    <section class="h-full absolute bg-zinc-200 w-full -z-10 flex justify-center">
            <div class="mt-20 px-10 flex flex-col items-center gap-10 relative w-full h-full ps:w-[480px] ">
                <span class=" w-96 h-96 bg-purple-200 -z-30 blur-lg rounded-full self-start -ml-20"></span>
            </div>
        </section>
    </div>