---
import CardStructure from "./CardStructure.astro"
---
<section class="bg-black w-[430px] px-5">
    <CardStructure subtitle="¿Cuándo?"
    description="Estaremos muy contentos de que puedas celebrar junto a nosotros esta fecha tan importante, no olvides agendarlo y agregarlo en tus pendientes. Queremos verte feliz junto a nosotros ☺️">
        <img slot="img" src="../../../public/img/img-3-pareja.png" alt="">
        <h2 class="text-[32px] font-medium" slot="title">
            Nos casaremos el <span class="text-[#FBFF2A]"> 27 de Abril de 2024</span>
        </h2>
    </CardStructure>
</section>