---
import SectionContainer from "../SectionContainer.astro"
import CardCarrousel from "./DateCardCarrousel.astro"
---
<SectionContainer bgColor="bg-black text-center">
    <div class="w-64 m-auto flex flex-col space-y-1 my-5">space
        <h2 class="text-white text-[18px]  m-auto ">
        Ey, el día se acerca y queremos <span class="font-bold">que celebres con nosotros!</span> 
        </h2>
        <p class="text-[10px] text-white">¡Esperamos tu confirmación con muchas ganas!</p>
    </div>
    <CardCarrousel title="¿Cuándo?" subtitle="27 de abril 2024">
        <img slot="img" src="/img/img-2-date.png" alt="">
    </CardCarrousel>
</SectionContainer>