---
import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer>
            <img class="z-20" src="/img/img-5-recuerdo.png" alt="Astro" />
            <div class="space-y-4 mt-2">
                <h3 class="text-xl  text-center font-semilbold">Nuestra historia</h3>
                <h2 class="text-4xl  text-center font-semibold">Ahí les va el chisme</h2>
                <p class="text-sm  text-center">Nos conocimos por un primo de Uziel, (Juan S). Nos conocimos cuando Ale tenia 16 años y Uziel 21. Solo fuimos amigos hasta que 6 años después coincidimos en una fiesta, nos saludamos y unos días más tarde tuvimos una cita formal. Uziel se enamoro e hizo lo mejor que pudo para seguir saliendo con Ale, hasta que un dia se dieron un beso y todo fue mágico... (a veces se pelean)</p>
            </div>
</SectionContainer>