---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Date from '../components/sections/Date.astro';
import Cuando from '../components/sections/Cuando.astro';
---

<Layout title="Welcome to Astro.">
	<Header/>
	<div class="flex flex-col items-center">
		<Hero />
		<Date/>
		<Cuando/>
	</div>
</Layout>

