---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Date from '../components/sections/Date.astro';
import Cuando from '../components/sections/Cuando.astro';
import Donde from '../components/sections/Donde.astro';
import Recuerdo from '../components/sections/Recuerdo.astro';
---

<Layout title="Boda Ale y Uziel">
	<Header/>
	<div class="flex flex-col items-center">
		<Hero />
		<Date/>
		<Cuando/>
		<Donde/>
		<Recuerdo/>
	</div>
</Layout>

