---
import AuHeader from "@assets/img/au-header.png"
import HamburguerHeader from "@assets/img/hamburguer-header.png"
import { Image } from "astro:assets"
---

<header class="container m-auto px-3">
    <ul class="flex items-center justify-evenly py-2">
        <li>
            <Image class="w-12" src={AuHeader} alt="f">
        </li>
    </ul>
</header>
