---
import "../../styles/index.css"
import Formulario from "./Formulario.jsx"
---
<div class="w-full flex justify-center relative">
    <div class="confirmacion mt-2">
    <div class="px-5 flex flex-col items-center gap-10 relative w-full ps:w-[430px]  backdrop-blur-xl py-5">
        <section class="text-center space-y-5">
            <h2 class="font-sf-medium text-4xl">Confirma</h2>
            <p class="text-xl"><strong>Tarjeta de RSVP</strong> | Se ruega la contestación <strong>antes del 27 de marzo 2024</strong></p>
            <p class="text-sm underline text-primary">Regístrate, si aceptas asistir escribe el nombre del representante de la familia o grupo de amigos</p>
        </section>
        <Formulario client:load/>
    </div>
    </div>
</div>