---
import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer>
    <section class="mt-20 text-white"> 
        <img src="/img/img-2-dresscode.jpg" alt="">
        <div class="z-20 absolute w-full bottom-5 space-y-1">
            <h3 class="font-bold text-3xl">XD</h3>
            <p class="">Te sugerimos estos colores para vestidos, y abajo te dejamos una colección en Pinterest para que puedas tener un panorama mas amplio de colores y formas de vestidos</p>
            <p class="text-sm">La única regla es no vestir color blanco y color rojo</p>
            <section class="z-20 flex justify-center items-center gap-3">
                <a href="" class=" text-sm  rounded-full transition-all duration-150 hover:opacity-80 primary-button  px-16 py-3 font-sf-light">Ir a pinterest</a>
                
            </section>
        </div>
        <section class="w-full bottom-0 absolute bg-gradient-to-t from-stone-950 to-transparent h-1/2"><section/>
    </section>
</SectionContainer>