---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sf-regular">
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'SFProUltralight';
		src: url("/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Ultralight.otf") format("opentype");
		font-weight: 100;
		font-style: normal;
	}
	@font-face {
		font-family: 'SFProLight';
		src: url("/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Light.otf") format("opentype");
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'SFProRegular';
		src: url("/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf") format("opentype");
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'SFProMedium';
		src: url("/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Medium.otf") format("opentype");
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'SFProSemibold';
		src: url("/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Semibold.otf") format("opentype");
		font-weight: 600;
		font-style: normal;
	}
	@font-face {
		font-family: 'SFProBold';
		src: url("/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Bold.otf") format("opentype");
		font-weight: 700;
		font-style: normal;
	}
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	.primary-button{
		background-image: linear-gradient(0deg, #5E44FF 1.25%, #9281FF 100.38%);
		box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.25);
		z-index: 10;
	}
</style>
